
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head">
</head>
<body>
	<header th:include="fragments/header :: menu"></header>

	<div class="container">
		
		<form th:object="${userRecord}" id="addUser" class="col card p-3 mb-5">
		<h2>Manage Users</h2>
		 <div class="row form-group">
		    <div class="col">
		      <label for="userName">User Name</label>
		        <input id="userName" placeholder="Enter User Name" required type="text" th:field="*{userName}"
		               class="form-control"/>
		    </div>
		    <div class="col">
		      <label for="fullName">Full Name</label>
		        <input id="fullName" placeholder="Enter Full Name" required type="text" th:field="*{fullName}"
		               class="form-control"/>
		    </div>
		    
		    <div class="col">
		      <label for="role">Role</label>
		        <select class="form-control" th:field="*{role}" id="role">
						<option value="" selected>--Please Select--</option>
						<option value="Admin">Admin</option>
						<option value="Guest">Guest</option>
			</select>
		    </div>
		    
		  </div>
  
		    <div class="row">
		    	<div class="col-8">
		    		 <div class="alert" id="userAlert" role="alert" style="display:none"></div>
				</div>
		    	<div class="col">
		    	<input type="submit" class="btn btn-primary" value="Create User">
		    	<button type="reset" id="resetUser" class="btn btn-primary">Reset</button>
			 
		    	</div>
		    	
		    </div>
		</form>
				
		<table class="display" id="publicationTable">
			<thead>
				<tr>
					<th>User Name</th>
					<th>Name</th>
					<th>Role</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	<footer class="footer" th:include="fragments/footer :: footer"></footer>
	
	<th:block th:replace="fragments/modal :: modal('deleteUser')"></th:block>
	<th:block th:replace="fragments/modal :: modal('createUsermodal')"></th:block>
	<th:block th:replace="fragments/modal :: modal('editUsermodal')"></th:block>
	<th:block th:replace="fragments/modal :: toast"></th:block>
</body>
<script src="../js/manager_user.js">
</script>
</html>
