
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head">
</head>
<body>
	<header th:include="fragments/header :: menu"></header>

	<div class="container">
		
		<form th:object="${userRecord}" id="addUser" class="col card p-3 mb-5">
		<h2>Manage Users</h2>
		 <div class="row form-group">
		    <div class="col">
		      <label for="userName">User Name</label>
		        <input id="userName" placeholder="Enter User Name" required type="text" th:field="*{userName}"
		               class="form-control"/>
		    </div>
		    <div class="col">
		      <label for="fullName">Full Name</label>
		        <input id="fullName" placeholder="Enter Full Name" required type="text" th:field="*{fullName}"
		               class="form-control"/>
		    </div>
		    
		    <div class="col">
		      <label for="role">Role</label>
		        <select class="form-control" th:field="*{role}" id="role">
						<option value="" selected>--Please Select--</option>
						<option value="Admin">Admin</option>
						<option value="Guest">Guest</option>
			</select>
		    </div>
		    
		  </div>
  
		    <div class="row">
		    	<div class="col-8">
		    		 <div class="alert" id="userAlert" role="alert" style="display:none"></div>
				</div>
		    	<div class="col">
		    	<input type="submit" class="btn btn-primary" value="Create User">
		    	<button type="reset" id="resetUser" class="btn btn-primary">Reset</button>
			 
		    	</div>
		    	
		    </div>
		</form>
				
		<table class="display" id="publicationTable">
			<thead>
				<tr>
					<th>User Name</th>
					<th>Name</th>
					<th>Role</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
	<footer class="footer" th:include="fragments/footer :: footer"></footer>
	
	<th:block th:replace="fragments/modal :: modal('deleteUser')"></th:block>
	<th:block th:replace="fragments/modal :: modal('createUsermodal')"></th:block>
	<th:block th:replace="fragments/modal :: modal('editUsermodal')"></th:block>
	<th:block th:replace="fragments/modal :: toast"></th:block>
</body>
<script>
	$(document).ready(function(){
		
		var table = $("#publicationTable").DataTable({
			dom: '<"top"Blip>rt<"bottom"lp><"clear">',
			processing: true,
			serverSide: true,
			ajax: {
				url : "/users/list"
			},
			columns : [
				{"data" : "userName"},
				{"data" : "fullName"},
				{"data" : "role"},
				{"data" : null,
					defaultContent: '<i class="fas fa-pen-alt" title="edit"></i>',
					orderable : false
				},
				{"data" : null,
					defaultContent: '<i class="fas fa-trash-alt" title="delete"/>',
					orderable : false
				}]
		});
		$('#publicationTable tbody').on('click','.fa-pen-alt',function() {
			var data = table.row($(this).parents('tr')).data();
			  $.ajax({
					url : '/users/'+data.userId,
					method : 'get'
				}).done(function(data) {
					
					 $('#editUsermodal').modal({
							show : true
						})
						$('#editUsermodal').find('#information').remove();
						$('#editUsermodal').find('.modal-body').html(data);
						$('#editUsermodal').find('.modal-footer').find("#closeModal").click(function(){
							table.ajax.reload();
						});
						$('#editUsermodal').find('.modal-body').find("#submitUser").click(function(){
							 	var form = $("#editUser");
							    var userName = $('#updateuserName').val();
							    var fullName = $('#updatefullName').val();
							    var role = $('#updaterole').val();
							    
							    var element= document.getElementById('updateAlert');
							    if(userName && fullName && role){
							    	 $.ajax({
									        type: "POST",
									        url: "/users/updateUsers",
									        data: form.serialize(), // serializes the form's elements.
									        success: function(data){
									           if(data=="update"){
									        	   element.classList.add("alert-info");
									        	   element.classList.remove("alert-warning");
									        	   element.innerHTML = "Updated user successfully! " + userName;
									        	   element.setAttribute('style', 'display:block');
									        	   table.ajax.reload();
									           }
									        }
									    });
							    }else{
							    	element.classList.add("alert-warning");
						      	   element.classList.remove("alert-info");
							    	element.innerHTML = " Please input user's information!";
							    	element.setAttribute('style', 'display:block');
							    
							    }
						});
						
				});
			
		});
		
		$('#publicationTable tbody').on('click','.fa-trash-alt',function() {
			
			var data = table.row($(this).parents('tr')).data();
 			$('#deleteUser').modal({
				show : true
			})
			$('#deleteUser').find('#information').remove();
			$('#deleteUser').find('.modal-title').text("Notification");
			
			$('#deleteUser').find('.modal-body').text("Are you sure you want to delete user: " + data.fullName);
			
			$('#deleteUser').find('#confirm').css({
				"display" : "block"
			});
			
			$('#deleteUser').find('#confirm').click(function(){
				$.ajax({
			        type: "GET",
			        url: "/user/delete/"+data.userId,
			        success: function(data){
			        	
			           if(data=="delete"){
			        	   table.ajax.reload();
			        	   $('#deleteUser').modal('hide')
			        	   $('.toast').toast('show');
							  
							$('.toast-title').text("Notification!");
							$('.toast-body').text("Delete User successfully!");
			        	   
			           }
			        }
			    });
			});
			  
		});
		
		  $("#addUser").submit(function(e) {

			    e.preventDefault(); // avoid to execute the actual submit of the form.

			    var userName = $('#userName').val();
			    var fullName = $('#fullName').val();
			    var role = $('#role').val();
			    element = document.getElementById('userAlert');
			    if(userName && fullName && role){
			    	 $.ajax({
					        type: "POST",
					        url: "/users/addUsers",
					        data: $("#addUser").serialize(), // serializes the form's elements.
					        success: function(data){
					        	console.log("add user:" + data);
					           if(data=="exist"){
					        	   element.classList.add("alert-warning");
					        	   element.classList.remove("alert-info");
					        	   element.innerHTML = userName + " already exist!";
					        	   element.setAttribute('style', 'display:block');
					        	  
					           }
					           if(data=="sucess"){
					        	   element.setAttribute('style', 'display:none');
					        	   $('.toast').toast('show');
									  
									$('.toast-title').text("Notification!");
									$('.toast-body').text("Created User successfully!");
									
					        	   table.ajax.reload();
					        	   document.getElementById('addUser').reset();
					           }
					        }
					    });
			    }
			    
			});
		  
			$("#resetUser").click(function(e){
				 e.preventDefault();
				 document.getElementById('userAlert').classList.remove("alert-warning");
				 document.getElementById('userAlert').classList.remove("alert-info");
				 document.getElementById('userAlert').setAttribute('style', 'display:none');
				document.getElementById('addUser').reset();
				 
			});
		
	});
</script>
</html>
