
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragments/header :: html_head" >
	</head>
	
	<body>
		 
		<header th:include="fragments/header :: menu"></header>
		<div class="container">
			<h2>Create New Record</h2>
		<form th:action="@{/publication}" method="get">

			<div class="mb-3">
				<label class="form-label">Pure ID</label> <input type="text"
					th:name="pureId" class="form-control" id="inputPureid"
					onkeyup="success()" />
			</div>

			<p class="alert alert-danger" th:if="${error}" th:text="${error}"></p>


			<button type="submit" id="submitPureid" class="btn btn-primary"
				disabled onclick="return DisplayProgressMessage(this, 'Processing...');">Submit</button>

		</form>

	</div> 
	
	<div th:if="${editpure}" id="PublicationModal">
		<th:block th:replace="fragments/modal :: modal('editpure')"></th:block>
		<input type="hidden" th:value="${editpure}" id="pureid"/>
	</div>		
		
		<div class="submit-progress">
		     <i class="fa fa-2x fa-spinner fa-spin"></i>
		    <label>Please wait while processing Data...</label>
		</div>
		
		<footer class="footer" th:include="fragments/footer :: footer"></footer>   
		
		
	</body>
	
	<script src="../js/create_record.js"></script>	

</html>
