<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head">
</head>
<style>
    .hiddendiv{
        display: none;
    }
    .showdiv{
        display: true;
    }        
</style>
<body>
	<header th:include="fragments/header :: menu"> </header>
	<div class="container">
		<h2>Search Publications</h2>
	<form th:action="@{/publication/export}" th:object="${purerecord}" method="GET">
			<table id="publicationSearch">
					<tr>
						<td class="pureid">
						<label>Pure ID</label> 
								<input type="text" class="column_filter form-control"
							id="col0_filter" th:name="pureId" th:value="${pureId}" placeholder="Pure ID">
						</td>
						<td class="doi">
							<label>DOI</label>
							<input type="text" class="column_filter form-control" th:name="doi"
							id="col10_filter" placeholder="Doi">
						</td>
						
						<td>
						<label>Compliance Status</label> 
						<select class="column_filter form-control"
							id="col4_filter" th:name="compliance_status">
								<option value="">--Please Select--</option>
								<option value="Green - internal">Green - internal</option>
								<option value="Green - external">Green - external</option>
								<option value="Gold - internal">Gold - internal</option>
								<option value="Gold - external">Gold - external</option>
								<option value="Not compliant">Not compliant</option>
								<option value="Exception applied">Exception applied</option>
						</select></td>
						
						<td>
							<label>Help Raise Visibility</label>
							<select class="column_filter form-control"
								id="col6_filter" th:name="help_raise_visibility">
								<option value="">--Please Select--</option>
								<option value="false">  No  </option>
								<option value="true"> Yes </option>
							</select>
						
						</td>
					</tr>
					
					<tr>
						
						<td><label>Pure
								Status</label> <select class="column_filter form-control"
							id="col1_filter" th:name="publicationStatus">
								<option value="">--Please Select--</option>
								<option value="Accepted/In press">Accepted/In press</option>
								<option value="E-pub ahead of print">E-pub ahead of print</option>
								<option value="Published">Published</option>
								<option value="Submitted">Submitted</option>
						</select>
						</td>
						
						<td>
						<label>Record Status</label> <select class="column_filter form-control"
							id="col3_filter" th:name="record_status">
								<option value="">--Please Select--</option>
								<option value="AAM deposited - awaiting publication">AAM deposited - awaiting publication</option>
								<option value="AAM deposited - published">AAM deposited - published</option>
								<option value="Information required">Information required</option>
						</select></td>
						
						
						<td id="filter_col5" data-column="5"><label>UKRI Compliance
								Status</label> <select class="column_filter form-control"
							id="col5_filter" th:name="UKRI_compliance_status">
								<option value="">--Please Select--</option>
								<option value="Green - internal">Green - internal</option>
								<option value="Green - external">Green - external</option>
								<option value="Gold - internal">Gold - internal</option>
								<option value="Gold - external">Gold - external</option>
								<option value="Not compliant">Not compliant</option>
								<option value="Exception applied">Exception applied</option>
						</select></td>
						<td id="filter_col12" data-column="12">
							<label>UKRI/Plan S flag</label>
							<select class="column_filter form-control"
								id="col8_filter" th:name="UKRI_S_Flag">
								<option value="">--Please Select--</option>
								<option value="false">  No </option>
								<option value="true">  Yes </option>
							</select>
						</td>
						
					</tr>
					<tr>
						<td id="filter_col13" data-column="13" colspan="2"><label>Organisations</label>

							<select class="column_filter form-control" id="col13_filter"
							th:name="organization">
								<option value="">--Please Select--</option>
								<optgroup value="2" label="Level 2">
									<option value="I2018">Faculty of Biology, Medicine and
										Health</option>
									<option value="I2001">Faculty of Humanities</option>
									<option value="I2000">Faculty of Science and
										Engineering</option>
								</optgroup>
								<optgroup value="3" label="Level 3">
									<option value="I3016">Alliance Manchester Business
										School</option>
									<option value="I3056">Cancer Research UK Manchester
										Institute</option>
									<option value="I3088">School of Arts, Languages and
										Cultures</option>
									<option value="I3114">School of Biological Sciences</option>
									<option value="I3022">School of Chemistry</option>
									<option value="I3023">School of Computer Science</option>
									<option value="I3025">School of Earth and
										Environmental Sciences</option>
									<option value="I3028">School of Environment, Education
										and Development</option>
									<option value="I3116">School of Health Sciences</option>
									<option value="I3031">School of Law</option>
									<option value="I3033">School of Materials</option>
									<option value="I3034">School of Mathematics</option>
									<option value="I3115">School of Medical Sciences</option>
									<option value="I3041">School of Social Sciences</option>
								</optgroup>
						</select>
					  </td>
					  
						<td id="filter_col9" data-column="9">
							<label>Potentially Published</label>
							<select class="column_filter form-control"
								id="col7_filter" th:name="potentially_published">
								<option value="">--Please Select--</option>
								<option value="false"> No </option>
								<option value="true"> Yes </option>
							</select>
						
						</td>
						<td valign="bottom" style="text-align: right">
							<button type="button" class="btn btn-primary btnReset">Reset</button>
						</td>
						
					</tr>
			</table>
			
			<br/>
			<div>
			  <div class="row">
			    <div class="col-sm">
			    
			 <div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button"
								class="btn btn-primary dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Bulk Edit
							</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								<button type="button" id="bulkEditRecordStatus" class="dropdown-item">
									Record Status</button> 
								<button type="button" id="bulkEditRefCompliance" class="dropdown-item">
									REF Compliance Status</button> 
								<button type="button" id=bulkEditUkriCompliance class="dropdown-item">
									UKRI Compliance Status</button> 
							</div>
					</div>
			      <button type="button" id="bulkEdit" class="btn btn btn-primary">Bulk Edit</button>
			 
			    </div>
			    <div class="col-sm">
			      <button type="submit" name="action" class="btn btn btn-primary" value="perPureId">
								<i class="fas fa-file-export"></i> Export Excel According PureId
				  </button>
			    </div>
			    <div class="col-sm">
			     <button type="submit"  name="action" value="perAuthor" class="btn btn btn-primary btnExport">
								<i class="fas fa-file-export"></i> Export Excel According Author
				 </button>
							
			    </div>
			  </div>
			</div>
	  
		</form>
		
	</div>
	 
	<div class="listpublication">
		<table class="display" id="publicationTable">
			<thead>
				<tr>
					<th>Pure Id</th>
					<th>Pure Status</th>
					<th>Title</th>
					<th>Record Status</th>
					<th>Compliance Status</th>
					<th>UKRI Compliance Status</th>
					<th>Accepted Date</th>
					<th>E-Publication Date</th>
					<th>Published Date</th>
					<th>Potentially Published</th>

					<th id="14"></th>
					<th id="15"></th>

				</tr>
			</thead>
			<tbody>
			</tbody>

		</table>
	</div>
	
		

	<th:block th:replace="fragments/modal :: toast"></th:block>
		
	<th:block th:replace="fragments/modal :: modal('Notice')"></th:block>
	
	<div id="bulkEditMo" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
	     aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Publication Bulk Edit</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Publication ID:</label><div class="pureids"></div>
					<hr/>
					<div class="row" id="editrecordStatus">
				    <div class="col">
				        <label>Record Status:</label> 
				        <select class="form-control" id="recordStatus">
							<option value="">--Please Select--</option>
							<option value="AAM deposited - awaiting publication">AAM deposited - awaiting publication</option>
							<option value="AAM deposited - published">AAM deposited - published</option>
							<option value="Information required">Information required</option>
						</select>
						 
				    </div>
				   </div>
				   <br/>
				   <div class="row" id="editRefComStatus">
				   	<div class="col">
				        <label>REF Compliance Status:</label> 
				        <select class="form-control" id="complianceStatus">
							<option value="">--Please Select--</option>
							<option value="Green - internal">Green - internal</option>
							<option value="Green - external">Green - external</option>
							<option value="Gold - internal">Gold - internal</option>
							<option value="Gold - external">Gold - external</option>
							<option value="Not compliant">Not compliant</option>
							<option value="Exception applied">Exception applied</option>
						</select>
				    </div>
				   </div>
				    <br/>
				   <div class="row" id="editUkriComplianceStatus">
				     <div class="col-2">
						<label>UKRI Flag</label>
						<div class="btn-group btn-group-toggle show-ukriStatus" data-toggle="buttons">
							<label class="btn btn-outline-dark active"> 
							<input type="radio" name="ukriFlag" value="false" checked>No</label> 
							<label class="btn btn-outline-dark"> 
							<input type="radio" name="ukriFlag" value="true"> Yes
							</label>
						</div>
					</div>
				    <div class="col">
				       <label>UKRI Compliance Status</label> 
							<select id="ukricompliance" class="form-control" disabled>
								<option value="" selected>--Please Select--</option>
								<option value="Green - internal">Green - internal</option>
								<option value="Green - external">Green - external</option>
								<option value="Gold - internal">Gold - internal</option>
								<option value="Gold - external">Gold - external</option>
								<option value="Not compliant">Not compliant</option>
								<option value="Exception applied">Exception applied</option>
							</select>
				    </div>
				    <br/>
				</div>
	 <br/>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button  type="button" id="bulkEditSumit" class="btn btn-info">Confirm</button>
			 	</div>
			</div>
		</div>
	</div>
	</div>
	

	
	<div id="loader" class="submit-progress">
		<i class="fa fa-2x fa-spinner fa-spin"></i>
		<label id="spinMes"> </label>
	</div>
	
	<div th:if="${message}" id="PublicationToast">
		<input type="hidden" th:value="${message}" id="message"/>
	</div>
	
		
	<footer class="footer" th:include="fragments/footer :: footer"></footer>

</body>
<script src="../js/list_publication.js"></script>
</html>
