<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head">

</head>

<body>
	<header th:include="fragments/header :: menu"> </header>
	<div class="container">
		<h1>Audit Logs</h1>

		<form class="border">
			<table id="publicationSearch">
				<tbody>
					<tr>
						<td id="filter_col0"><label>Search</label> <input
							type="text" class="column_filter form-control" id="col1_filter"
							placeholder="Search for message text"></td>
						<td id="filter_col2"><label>Level</label> <select
							class="column_filter form-control" id="col2_filter">
								<option value="" selected>--Please Select--</option>
								<option value="ERROR">ERROR</option>
								<option value="INFO">INFO</option>
								<option value="LOG">LOG</option>
						</select></td>
					</tr>

					<tr>
						<td colspan="2"><label>Type</label>
							<select class="column_filter form-control" id="col3_filter">
								<option value="" selected>--Please Select--</option>
								<optgroup label="CROSSREF_SYNCER">
									<option value="CROSSREF_SYNC_STARTED">CROSSREF_SYNC_STARTED</option>
									<option value="CROSSREF_SYNC_MARKED_AS_POTENTIALLY_PUBLISHED">CROSSREF_SYNC_MARKED_AS_POTENTIALLY_PUBLISHED</option>
									<option value="CROSSREF_SYNC_NOT_FOUND">CROSSREF_SYNC_NOT_FOUND</option>
									<option value="CROSSREF_SYNC_COMPLETE">CROSSREF_SYNC_COMPLETE</option>
								</optgroup>
									<optgroup label="PURE_SYNCER">
									<option value="PUBLICATION_PURE_SYNC_STARTED">PUBLICATION_PURE_SYNC_STARTED</option>
									<option value="PUBLICATION_PURE_SYNC_RECORD_UPDATE">PUBLICATION_PURE_SYNC_RECORD_UPDATE</option>
									<option value="PUBLICATION_PURE_SYNC_RECORD_UPDATE_FAILED">PUBLICATION_PURE_SYNC_RECORD_UPDATE_FAILED</option>
									<option value="PUBLICATION_PURE_SYNC_COMPLETE">PUBLICATION_PURE_SYNC_COMPLETE</option>
									
								</optgroup>
								<optgroup label="OACP_UPDATE">
									<option value="PUBLICATION_RECORD_UPDATE">PUBLICATION_RECORD_UPDATE</option>
									<option value="PUBLICATION_RECORD_CREATE">PUBLICATION_RECORD_CREATE</option>
									<option value="PUBLICATION_RECORD_DELETE">PUBLICATION_RECORD_DELETE</option>
									<option value="PUBLICATION_PURE_DATA_MIGRATE">PUBLICATION_PURE_DATA_MIGRATE</option>
								</optgroup>
						</select></td>

					</tr>
					<tr>
						<td colspan="2" style="text-align: right;">
							<button type="button" class="btn btn-primary btnReset">Reset</button>
						</td>
					</tr>

				</tbody>

			</table>

		</form>
		<br>
		<table class="table" id="auditTable">
			<thead>
				<tr>
					<th scope="col">Level</th>
					<th scope="col">Message</th>
					<th scope="col">Created By</th>
					<th scope="col">Created Date</th>
				</tr>
			</thead>

		</table>

		<div th:replace="fragments/modal :: modal('auditDeatail')"></div>
	</div>
	
	<footer class="footer" th:include="fragments/footer :: footer"></footer>
</body>
<script src="../js/list_audit.js">
</script>
</html>